
<!-- BEGIN forumrow -->
	<!-- IF (forumrow.S_IS_CAT and not forumrow.S_FIRST_ROW) or forumrow.S_NO_CAT  -->
		</ul>
	<!-- ENDIF -->

	<!-- IF forumrow.S_IS_CAT or forumrow.S_FIRST_ROW  or forumrow.S_NO_CAT  -->
			<ul class="topiclist">
				<li class="header">
					<dl class="icon">
						<dt><!-- IF forumrow.S_IS_CAT -->{forumrow.FORUM_NAME}<!-- ELSE -->{L_FORUM}<!-- ENDIF --></dt>
						<dd class="topics">{L_TOPICS}</dd>
						<dd class="posts">{L_POSTS}</dd>
						<dd class="lastpost">{L_LAST_POST}</dd>
					</dl>
				</li>
			</ul>
			<ul class="topiclist forums">
	<!-- ENDIF -->

	<!-- IF not forumrow.S_IS_CAT -->
		<li class="row">
			<dl class="icon" style="background-image: url({forumrow.FORUM_FOLDER_IMG_SRC});">
				<dt title="{forumrow.FORUM_FOLDER_IMG_ALT}">
				<div class="newstpost">&nbsp;</div>
				<!-- IF S_ENABLE_FEEDS and forumrow.S_FEED_ENABLED --><!-- <a class="feed-icon-forum" title="{L_FEED} - {forumrow.FORUM_NAME}" href="{U_FEED}?f={forumrow.FORUM_ID}"><img src="{T_THEME_PATH}/images/feed.gif" alt="{L_FEED} - {forumrow.FORUM_NAME}" /></a> --><!-- ENDIF -->

					<!-- IF forumrow.FORUM_IMAGE --><span class="forum-image">{forumrow.FORUM_IMAGE}</span><!-- ENDIF -->
					<a href="{forumrow.U_VIEWFORUM}" class="forumtitle">{forumrow.FORUM_NAME}</a><br />
					{forumrow.FORUM_DESC}
					<!-- IF forumrow.SUBFORUMS and forumrow.S_LIST_SUBFORUMS --><br /><strong>{forumrow.L_SUBFORUM_STR}</strong> {forumrow.SUBFORUMS}<!-- ENDIF -->
				</dt>
				<!-- IF forumrow.CLICKS -->
				<!-- ELSEIF not forumrow.S_IS_LINK -->
					<dd class="topics">{forumrow.TOPICS}</dd>
					<dd class="posts">{forumrow.POSTS}</dd>
					<dd class="lastpost"><span>
						<!-- IF forumrow.U_UNAPPROVED_TOPICS --><a href="{forumrow.U_UNAPPROVED_TOPICS}">{UNAPPROVED_IMG}</a><!-- ENDIF -->
						<!-- IF forumrow.LAST_POST_TIME -->{forumrow.LAST_POST_TIME}<br />{L_POST_BY_AUTHOR} {forumrow.LAST_POSTER_FULL}
						<!-- IF not S_IS_BOT --> <a href="{forumrow.U_LAST_POST}">{LAST_POST_IMG}</a> <!-- ENDIF --><!-- ELSE --><span>{L_NO_POSTS}&nbsp;</span><!-- ENDIF --></span>
					</dd>
				<!-- ENDIF -->
			</dl>
		</li>
	<!-- ENDIF -->

	<!-- IF forumrow.S_LAST_ROW -->
		</ul>
	<!-- ENDIF -->

<!-- BEGINELSE -->
		<strong>{L_NO_FORUMS}</strong>
<!-- END forumrow -->
