<!-- INCLUDE overall_header.html -->
<h1 class="entry-title">Forum</h1>
<!-- INCLUDE overall_aftertitle.html -->
<!-- INCLUDE forumlist_body.html -->

<p>{TOTAL_POSTS} | {TOTAL_TOPICS} | <!-- IF S_DISPLAY_MEMBERLIST --><a href="{U_MEMBERLIST}" title="{L_MEMBERLIST_EXPLAIN}"><!-- ENDIF -->{TOTAL_USERS}<!-- IF S_DISPLAY_MEMBERLIST --></a><!-- ENDIF --><!-- IF NEWEST_USER --> | {NEWEST_USER}<!-- ENDIF --></p>

<!-- IF S_DISPLAY_ONLINE_LIST -->
	<h3>{L_WHO_IS_ONLINE}</h3>
	<p>{TOTAL_USERS_ONLINE}<br />{RECORD_USERS}<br /> <br />{LOGGED_IN_USER_LIST}</p>
<!-- ENDIF -->

<!-- IF S_DISPLAY_BIRTHDAY_LIST and BIRTHDAY_LIST -->
	<h3>{L_BIRTHDAYS}</h3>
	<p><!-- IF BIRTHDAY_LIST -->{L_CONGRATULATIONS}: <strong>{BIRTHDAY_LIST}</strong><!-- ELSE -->{L_NO_BIRTHDAYS}<!-- ENDIF --></p>
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->
