<!-- INCLUDE overall_header.html -->

<!-- IF FORUM_NAME --><h1 class="entry-title"><a href="{U_VIEW_FORUM}">{FORUM_NAME}</a></h1><!-- ENDIF -->
<div class="entry-content">

<form id="login_forum" method="post" action="{S_LOGIN_ACTION}">
{S_FORM_TOKEN}
<div class="content">
		<h2>{L_LOGIN}</h2>

	<p>{L_LOGIN_FORUM}</p>

		<fieldset class="fields1">
	<!-- IF LOGIN_ERROR -->
		<dl>
			<dt>&nbsp;</dt>
			<dd class="error">{LOGIN_ERROR}</dd>
		</dl>
	<!-- ENDIF -->

	<dl>
		<dt><label for="password">{L_PASSWORD}:</label></dt>
		<dd><input type="password" tabindex="1" id="password" name="password" size="25" class="inputbox narrow" /></dd>
	</dl>
	{S_LOGIN_REDIRECT}
	</fieldset>
</div>

</form>
<!-- INCLUDE overall_footer.html -->
