<div class="entry-content">
	<!-- IF not S_IS_BOT -->
        <div style="float:right;">
            <!-- IF S_WATCH_FORUM_LINK -->
                <a href="{S_WATCH_FORUM_LINK}" title="{S_WATCH_FORUM_TITLE}">{S_WATCH_FORUM_TITLE}</a> |
            <!-- ENDIF -->
		    <!-- IF U_MARK_FORUMS -->
			    <a href="{U_MARK_FORUMS}" accesskey="m">{L_MARK_FORUMS_READ}</a>
		    <!-- ENDIF -->
		    <!-- IF not S_HAS_SUBFORUM and U_MARK_TOPICS -->
			    <a href="{U_MARK_TOPICS}" accesskey="m">{L_MARK_TOPICS_READ}</a>
		    <!-- ENDIF -->
        </div>
	<!-- ENDIF -->
	<!-- IF S_DISPLAY_SEARCH or (not S_IS_BOT and U_MARK_FORUMS) -->
		<div style="margin-bottom:15px;">
			<!-- IF S_DISPLAY_SEARCH -->
				<a href="{U_SEARCH_ACTIVE_TOPICS}">{L_SEARCH_ACTIVE_TOPICS}</a>
				<!-- IF S_USER_LOGGED_IN -->
					<!-- IF U_MCP or U_ACP -->
						| <a href="{U_SEARCH_UNREAD}">{L_SEARCH_UNREAD}</a>
					<!-- ELSE -->
						| <a href="{U_SEARCH_NEW}">{L_SEARCH_NEW}</a>
					<!-- ENDIF -->
				<!-- ENDIF -->
				<!-- IF not S_IS_BOT -->
					| <a href="{U_SEARCH_UNSOLVED_TOPICS}">{L_SEARCH_UNSOLVED}</a> 
				    <!-- IF S_USER_LOGGED_IN -->
					    | <a href="{U_SEARCH_YOUR_UNSOLVED_TOPICS}">{L_SEARCH_YOUR_UNSOLVED}</a>
					    | <a href="{U_SEARCH_SELF}">{L_SEARCH_SELF}</a>
				    <!-- ENDIF -->
				<!-- ENDIF -->
			<!-- ENDIF -->
		</div>
	<!-- ENDIF -->
