<!-- INCLUDE overall_header.html -->
<h1 class="entry-title">{FORUM_NAME}</h1>
<!-- INCLUDE overall_aftertitle.html -->

<!-- IF S_HAS_SUBFORUM -->
	<!-- INCLUDE forumlist_body.html -->
<!-- ENDIF -->

<!-- IF S_FORUM_RULES -->
    <div class="rules">
		<!-- IF U_FORUM_RULES -->
			<a href="{U_FORUM_RULES}">{L_FORUM_RULES}</a>
		<!-- ELSE -->
			<strong>{L_FORUM_RULES}</strong><br />
			{FORUM_RULES}
		<!-- ENDIF -->
	</div>
<!-- ENDIF -->

<div style="margin-top:15px;">
    <!-- IF S_USER_LOGGED_IN and not S_IS_BOT and not S_IS_LOCKED and U_POST_NEW_TOPIC -->
        <form method="post" action="{U_POST_NEW_TOPIC}"><input value="Nyt emne" title="{L_POST_TOPIC}" type="submit" class="ufbn" /></form>
    <!-- ENDIF -->
    <!-- IF S_HAS_SUBFORUM and U_MARK_TOPICS -->
        <a style="float:right;padding-top:10px;" href="{U_MARK_TOPICS}" accesskey="m">{L_MARK_TOPICS_READ}</a>
   <!-- ENDIF -->
</div>

<!-- IF S_NO_READ_ACCESS -->

		<strong>{L_NO_READ_ACCESS}</strong>

	<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->

		<form action="{S_LOGIN_ACTION}" method="post">

			<div class="content">
				<h3><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a><!-- IF S_REGISTER_ENABLED -->&nbsp; | &nbsp;<a href="{U_REGISTER}">{L_REGISTER}</a><!-- ENDIF --></h3>

				<fieldset class="fields1">
				<dl>
					<dt><label for="username">{L_USERNAME}:</label></dt>
					<dd><input type="text" tabindex="3" name="username" id="username" size="25" value="{USERNAME}" class="inputbox autowidth" /></dd>
				</dl>
				<dl>
					<dt><label for="password">{L_PASSWORD}:</label></dt>
					<dd><input type="password" tabindex="4" id="password" name="password" size="25" class="inputbox autowidth" /></dd>
					<!-- IF S_AUTOLOGIN_ENABLED --><dd><label for="autologin"><input type="checkbox" name="autologin" id="autologin" tabindex="5" /> {L_LOG_ME_IN}</label></dd><!-- ENDIF -->
					<dd><label for="viewonline"><input type="checkbox" name="viewonline" id="viewonline" tabindex="6" /> {L_HIDE_ME}</label></dd>
				</dl>
				<dl>
					<dt>&nbsp;</dt>
					<dd><input type="submit" name="login" tabindex="7" value="{L_LOGIN}" class="button1" /></dd>
				</dl>
				{S_LOGIN_REDIRECT}
				</fieldset>
			</div>

		</form>

	<!-- ENDIF -->

<!-- ENDIF -->

<!-- BEGIN topicrow -->

	<!-- IF not topicrow.S_TOPIC_TYPE_SWITCH and not topicrow.S_FIRST_ROW -->
		</ul>
	<!-- ENDIF -->

	<!-- IF topicrow.S_FIRST_ROW or not topicrow.S_TOPIC_TYPE_SWITCH -->
		<ul class="topiclist">
			<li class="header">
				<dl class="icon">
					<dt><!-- IF S_DISPLAY_ACTIVE -->{L_ACTIVE_TOPICS}<!-- ELSEIF topicrow.S_TOPIC_TYPE_SWITCH and (topicrow.S_POST_ANNOUNCE or topicrow.S_POST_GLOBAL) -->{L_ANNOUNCEMENTS}<!-- ELSE -->{L_TOPICS}<!-- ENDIF --></dt>
					<dd class="posts">{L_REPLIES}</dd>
					<dd class="views">{L_VIEWS}</dd>
					<dd class="lastpost">{L_LAST_POST}</dd>
				</dl>
			</li>
		</ul>
		<ul class="topiclist topics">
	<!-- ENDIF -->

		<li class="row<!-- IF topicrow.S_ROW_COUNT is not even --> bg2<!-- ENDIF --><!-- IF topicrow.S_POST_GLOBAL --> global-announce<!-- ENDIF --><!-- IF topicrow.S_POST_ANNOUNCE --> announce<!-- ENDIF --><!-- IF topicrow.S_POST_STICKY --> sticky<!-- ENDIF --><!-- IF topicrow.S_TOPIC_REPORTED --> reported<!-- ENDIF -->">
			<dl class="icon" style="background-image: url({topicrow.TOPIC_FOLDER_IMG_SRC}); background-repeat: no-repeat;">
				<dt<!-- IF topicrow.TOPIC_ICON_IMG and S_TOPIC_ICONS --> style="background-image: url({T_ICONS_PATH}{topicrow.TOPIC_ICON_IMG}); background-repeat: no-repeat;"<!-- ENDIF --> title="{topicrow.TOPIC_FOLDER_IMG_ALT}">
					<!-- IF topicrow.PAGINATION --><span class="pagination">Side: <span>{topicrow.PAGINATION}</span></span><!-- ENDIF -->
					<!-- IF topicrow.S_UNREAD_TOPIC --><a href="{topicrow.U_NEWEST_POST}" class="newstpost<!-- IF topicrow.SOLVED_TOPIC --> topicsolved<!-- ENDIF -->">&nbsp;</a><!-- ELSEIF topicrow.SOLVED_TOPIC --><a href="{topicrow.U_SOLVED_TOPIC}" class="topicsolved" title="Emnet er løst">&nbsp;</a><!-- ELSE --><div class="newstpost">&nbsp;</div><!-- ENDIF -->
					<div style="padding-top:5px;"><a href="{topicrow.U_VIEW_TOPIC}" class="topictitle">{topicrow.TOPIC_TITLE}</a>
					<!-- IF topicrow.S_TOPIC_UNAPPROVED or topicrow.S_POSTS_UNAPPROVED --><a href="{topicrow.U_MCP_QUEUE}">{topicrow.UNAPPROVED_IMG}</a> <!-- ENDIF -->
					<!-- IF topicrow.S_TOPIC_REPORTED --><a href="{topicrow.U_MCP_REPORT}">{REPORTED_IMG}</a><!-- ENDIF -->
					<br />{L_POST_BY_AUTHOR} {topicrow.TOPIC_AUTHOR_FULL}
					</div>
				</dt>
				<dd class="posts">{topicrow.REPLIES}</dd>
				<dd class="views">{topicrow.VIEWS}</dd>
				<dd class="lastpost"><span>{topicrow.LAST_POST_TIME}<br />{L_POST_BY_AUTHOR} {topicrow.LAST_POST_AUTHOR_FULL}
					<!-- IF not S_IS_BOT --><a href="{topicrow.U_LAST_POST}">{LAST_POST_IMG}</a> <!-- ENDIF --></span>
				</dd>
			</dl>
		</li>

	<!-- IF topicrow.S_LAST_ROW -->
			</ul>
	<!-- ENDIF -->

<!-- BEGINELSE -->
	<!-- IF S_IS_POSTABLE -->
		<strong>{L_NO_TOPICS}</strong>
	<!-- ENDIF -->
<!-- END topicrow -->

<!-- IF S_DISPLAY_POST_INFO -->
	<h3>{L_FORUM_PERMISSIONS}
        <!-- IF .topicrow and not S_DISPLAY_ACTIVE -->
		<!-- IF PAGINATION or TOTAL_POSTS or TOTAL_TOPICS -->
		<span class="pagination">
			<!-- IF TOTAL_USERS -->{TOTAL_USERS}<!-- ENDIF -->
			<!-- IF TOTAL_TOPICS -->{TOTAL_TOPICS}<!-- ENDIF -->
			<!-- IF PAGE_NUMBER --><!-- IF PAGINATION --> | Side <span>{PAGINATION}</span><!-- ELSE --> | {PAGE_NUMBER}<!-- ENDIF --><!-- ENDIF -->
		</span>
		<!-- ENDIF -->
        <!-- ENDIF --></h3>
	<p><!-- BEGIN rules -->{rules.RULE}<br /><!-- END rules --></p>
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->
