<!-- IF S_ELONW -->
<script type="text/javascript">
var elonw_title = '{LA_ELONW}';
(function($) {
	source=removeSubdomain(location.hostname);
	$('a[href^="http://"], a[href^="https://"], a[href^="ftp://"]').filter(function(){return this.hostname&&removeSubdomain(this.hostname)!==source}).attr("onclick","window.open(this.href);return false;").attr("rel", "nofollow").attr("title", elonw_title).addClass("elonw");
})(jQuery);
function removeSubdomain(a,b){return a.split(".").slice(-(b||2)).join(".")};
</script>
<!-- ENDIF -->
