#
# phpBB Style Configuration File
#
# @copyright (c) Anders Jenbo
# @license GNU General Public License, version 2 (GPL-2.0)
#
# For full copyright and license information, please see
# the docs/CREDITS.txt file.
#

# General Information about this style
name = light-phpbb-theme
copyright = © Anders Jenbo, 2015
style_version = 0.1.7
phpbb_version = 3.1.10

parent = prosilver
